{% extends "base.html" %}

{% block title %} FAQs {% endblock title %}

{% block body %}
<div class="accordion accordion-flush shadow-lg p-3 mb-5 bg-body rounded" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          What is a black hole ?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">A black hole is a region of spacetime where gravity is so strong that nothing, not even light, can escape from it. It is formed when a massive star collapses under its own gravity at the end of its life cycle.</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          How many planets are there in our solar system ?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">There are eight planets in our solar system: Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, and Neptune.</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          What is the biggest planet in our solar system ?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Jupiter is the largest planet in our solar system, with a diameter of about 86,881 miles (139,822 kilometers).</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          What causes the phases of the Moon ?
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">The phases of the Moon are caused by the changing angles between the Sun, Moon, and Earth as the Moon orbits around our planet. Different portions of the Moon's illuminated surface are visible from Earth at different times, creating the various phases.</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          What is a supernova ?
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">A supernova is a powerful and energetic explosion that occurs at the end of a massive star's life cycle. It can briefly outshine entire galaxies and release tremendous amounts of energy and matter into space.</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
          How far away is the nearest star to Earth, other than the Sun ?
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">The nearest star to Earth, other than the Sun, is Proxima Centauri, which is located approximately 4.24 light-years away in the Alpha Centauri star system.</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
          What is the asteroid belt ?
        </button>
      </h2>
      <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">The asteroid belt is a region of space located between the orbits of Mars and Jupiter, where thousands of small rocky objects called asteroids orbit the Sun.</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
          What causes the seasons on Earth?
        </button>
      </h2>
      <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">The changing seasons on Earth are primarily caused by the tilt of the Earth's axis relative to its orbit around the Sun. As the Earth orbits the Sun, different parts of the planet receive varying amounts of sunlight, resulting in the four seasons: spring, summer, fall, and winter.</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
           How old is the universe ?
        </button>
      </h2>
      <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">The current estimate for the age of the universe is approximately 13.8 billion years, based on observations of the cosmic microwave background radiation and other astronomical data.</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
          What is a comet ?
        </button>
      </h2>
      <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">A comet is a small celestial body composed of ice, dust, and rocky material that orbits the Sun in an elongated, elliptical orbit. When a comet gets close to the Sun, the heat causes the ice to vaporize, creating a glowing coma and often a visible tail.</div>
      </div>
    </div>
  </div>
{% endblock body %}