{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block body %}

<div class="container d-flex h-100 text-center" style="padding: 10%;">
    <main class="px-3" style="font-family: cursive;">
        <h1>Space</h1>
        <p class="lead">Embark on a journey beyond the stars with our webpage, where we unravel the mysteries of the our Solar System and explore limitless discovery</p>
        <p class="lead" style="text-decoration: underline">Click on Learn More !</p>
        <p class="lead">
          <a href="Universe" class="btn btn-lg btn-dark fw-bold border-black bg-black">Learn more</a>
        </p>
      </main>
</div>
 
{% endblock body %}
</body>
</html>