{% extends "base.html" %}

{% block title %} Solar System {% endblock title %}

{% block body %}

<main>

  <section class="py-5 text-center container shadow-lg p-3 mb-5 bg-body rounded" style="color: white; background-image: url(/static/img/sun.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="row py-lg-5" style="font-family: cursive;">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Solar System</h1>
        <p class="lead text-body-secondary">Our solar system consists of the Sun, eight planets, and various moons, asteroids, and comets, each showcasing a diverse range of characteristics and environments, from scorching heat to icy cold.</p>
      </div>
    </div>
  </section>

  <div class="container my-3 shadow-lg p-3 mb-5 bg-body rounded">
    <h1 class="my-4 text-center">Title</h1>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/sun.jpeg" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">The Sun is the radiant center of our solar system, a colossal sphere of hot gases undergoing nuclear fusion, generating immense energy that sustains life on Earth. Its magnetic activity influences space weather and drives phenomena like sunspots and solar flares, shaping our understanding of the universe and serving as a constant source of wonder and inspiration for humanity.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://science.nasa.gov/sun/">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </a>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/mercury.jpeg" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">Mercury, the smallest planet in our solar system, orbits closest to the Sun, experiencing extreme temperatures ranging from scorching heat to freezing cold. Its surface is heavily cratered and lacks a substantial atmosphere. Despite its challenges for observation from Earth, spacecraft missions have revealed fascinating features like the Caloris Basin and mysterious formations called hollows.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://science.nasa.gov/mercury/">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </a>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/venus.jpeg" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">Venus, Earth's "sister planet," is shrouded in thick clouds of sulfuric acid and experiences scorching temperatures due to a runaway greenhouse effect. Its surface, marked by volcanoes and lava flows, is hostile, with crushing pressure and acidic rain. Despite challenges, spacecraft missions have revealed insights into Venus's extreme environment and geological features.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://science.nasa.gov/venus">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </a>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
               <img src="/static/img/earth.jpeg" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">Earth, our cherished oasis in the cosmos, stands as a testament to the wonders of life, adorned with a rich tapestry of ecosystems nurtured by a protective atmosphere that shields and sustains its inhabitants amidst the vastness of space, and it is our wonderfull home planet too.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://science.nasa.gov/earth/">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </a>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/img/mars.jpeg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">Mars, the enigmatic Red Planet, unveils a landscape reminiscent of ancient deserts, with rusty hues painting its surface and meandering riverbeds etched into its terrain, all beneath the gaze of a thin yet significant carbon dioxide atmosphere that hints at the planet's complex history.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="https://science.nasa.gov/mars">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </a>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/img/jupiter.jpeg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">Jupiter, the mighty giant of our solar system, commands attention with its awe-inspiring presence, boasting swirling bands of clouds and tempestuous storms, including the iconic Great Red Spot, a colossal tempest that has endured for centuries as a testament to the planet's dynamic nature.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="https://science.nasa.gov/jupiter">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </a>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/img/saturn.jpeg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">Saturn, the majestic jewel of the heavens, enchants with its breathtaking rings, a stunning testament to the interplay of gravity and cosmic debris, while its intricate atmosphere and diverse family of moons add layers of complexity and intrigue to its celestial splendor.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="https://science.nasa.gov/saturn">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </a>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/img/uranus.jpeg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">Uranus, the enigmatic ice giant, dances gracefully on its side ( tilted on its axis by almost 90 degree angle ), its serene blue hue and faint rings casting an ethereal glow amidst the darkness of space, offering a glimpse into the mysteries of planetary dynamics and evolution.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="https://science.nasa.gov/uranus/">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </a>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/img/naptune.jpeg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">Neptune, the distant guardian of the outer realms, boasts a turbulent atmosphere alive with swirling clouds and powerful storms, a tempestuous enigma that adds to the allure of this distant world, beckoning exploration and discovery beyond the bounds of our terrestrial home.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="https://science.nasa.gov/neptune/">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </a>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
            </div>
            
          </div>
        </div>

</main>

<hr>

<footer class="text-body-secondary py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">
          <button type="button" class="btn btn-sm btn-outline-secondary">Back to top</button>
        </a>
      </p>
      <p class="mb-1">The Sun, a luminous ball of hot gases, serves as the gravitational anchor of our solar system.</p>
      <p class="mb-0"> The planets, eight in total, revolve around it, each boasting unique characteristics and compositions.</a>.</p>
      <p class="mb-0">Source @<a href="https://www.nasa.gov">nasa</a></p>
    </div>
</footer>

{% endblock body %}