{% extends "base.html" %}

{% block title %} Universe {% endblock title %}

{% block body %}

<main>
  <div class="container py-4" style="font-family: cursive;">
    <header class="pb-3 mb-4 border-bottom text-center">
      <h1  style="font-family: 'Lucida Console', monospace">The Universe</h1>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3 shadow bg-body">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Introduction to the Universe</h1>
        <p class="col-md-11 fs-4">Engage with the universe through stargazing sessions, where the beauty of the cosmos unfolds before your eyes. Dive into astronomical discussions and learn about celestial wonders, from distant galaxies to our own solar system. Explore the mysteries of space through interactive simulations and virtual tours, igniting curiosity and expanding your understanding of the vast cosmos.</p>
        <a href="https://science.nasa.gov/universe/">
          <button class="btn btn-primary btn-lg" type="button">Explore button</button>
        </a>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-black border rounded-3 shadow bg-body">
          <h2>Exploring the Cosmos</h2>
          <p>Embark on an odyssey through the cosmos, where every star is a story waiting to be told. From the dazzling depths of distant galaxies to the serene beauty of our own celestial neighborhood, let us guide you on a journey of discovery. Explore the wonders of the universe and unlock the secrets of the cosmos with us.</p>
          <a href="https://science.nasa.gov/universe/overview/#big-bang">
            <button class="btn btn-outline-dark" type="button">Explore button</button>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3 shadow bg-body">
          <h2> Engaging with the Universe</h2>
          <p>Welcome to the boundless expanse of the universe, where mysteries await discovery and wonder knows no bounds. Embark on a journey through the cosmos, from distant galaxies to the intricate dance of planets within our solar system. Join us as we explore the awe-inspiring beauty and infinite possibilities of the cosmos.</p>
          <a href="https://science.nasa.gov/universe/search-for-life/">
            <button class="btn btn-outline-secondary" type="button">Explore button</button>
          </a>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      © Space 2024
    </footer>
  </div>
</main>

{% endblock body %}